
/*
************
*************************
03. Animation
******************************************************* 
*************************************************************** */
// hero-play-btn-animation-1  

  @-webkit-keyframes pulsate1 {
    0% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
  
    }
  }
  
  @keyframes pulsate1 {
    0% {
        width: 160%;
        height: 160%;
      opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
  }

/* ======= Text Animation style ======= */

.splitting.animated .char {
  -webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  -webkit-animation-delay: calc(30ms * var(--char-index));
  animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
  width: 10px;
}
@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.splitting.txt.animated .char {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation: fadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
  -webkit-animation-delay: calc(10ms * var(--char-index));
  animation-delay: calc(10ms * var(--char-index));
}
.splitting.txt .whitespace {
  width: 5px;
}
@-webkit-keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes unlimitedRound {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}